
<section id="tutos">
  <h2>{{title}}</h2>
  <h3>Update a tutorial</h3>







<form *ngIf="mobile" [formGroup]="tutoForm" (ngSubmit)="onFormSubmit(tutoForm.value)" id="form">
  <div>
    <label class="block" for="titre">Title: </label>
  
    <input class="block" id="titre" value="{{tuto.titre}}" placeholder="{{tuto.titre}}"  formControlName="titre" >
    
    <span *ngIf="!tutoForm.get('titre').valid && tutoForm.get('titre').touched">Please enter title</span>
  
  </div>


  
  
  <label [hidden]="true" id="id" for="_id">Id: </label>
  
  <input [hidden]="true"  id="_id" value="{{tuto._id}}" placeholder="{{tuto._id}}" formControlName="_id">
  
  <span *ngIf="!tutoForm.get('_id').valid && tutoForm.get('_id').touched">Please enter id</span>
  
  
  <div>
    <label for="texte" class="block">Text: </label>
  
    <textarea class="block" id="texte" value="{{tuto.texte}}" placeholder="{{tuto.texte}}" formControlName="texte">
    </textarea>
    
    <span *ngIf="!tutoForm.get('texte').valid && tutoForm.get('texte').touched">Please enter text</span>
  
  </div>

  <div>
    <label for="titre" class="block">Picture: </label>
  
    <input [hidden]="true"  id="image" value="{{tuto.image}}" placeholder="{{tuto.image}}" formControlName="image" >
    
    <span *ngIf="!tutoForm.get('image').valid && tutoForm.get('image').touched">Please enter picture</span>
    
    <input [hidden]="true" type="file" class="file-input" name="file"
    (change)="onFileSelected($event)" #fileUpload>
    
    <div class="file-upload block">
      
      {{fileName || "No file"}}
      
      <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
      <mat-icon class="iconDownload">attach_file</mat-icon>
    </button>
  </div>
  
  </div>


<div>
  <button id="updateBtn" (click)="update(tuto.image)" [disabled]="!tutoForm.valid" class="btn btn-primary">Update a tutorial</button>
</div>
</form>



<form class="arrayCrud" *ngIf="!mobile" id="tutoForm" [formGroup]="tutoForm" (ngSubmit)="onFormSubmit(tutoForm.value)">

  <table  class="table table-striped table-responsive">
  
    <thead>
    <tr>
      <th scope="col-12">Action</th>
      <th scope="col-12">Title</th>
      <th scope="col-12"  >Text</th>
      <th scope="col-12" >Picture</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <th scope="row">Update</th>
      <td>
        <input  class="block" id="titre" value="{{tuto.titre}}" placeholder="{{tuto.titre}}" formControlName="titre">
        <span *ngIf="!tutoForm.get('titre').valid && tutoForm.get('titre').touched">Please enter title</span>
      </td>
      <td [hidden]="true" >
        <input  id="_id" value="{{tuto._id}}" placeholder="{{tuto._id}}" >
      </td>
      <td>
        <textarea class="block" id="texte" value="{{tuto.texte}}" placeholder="{{tuto.texte}}" formControlName="texte">
        </textarea>
        
        <span *ngIf="!tutoForm.get('texte').valid && tutoForm.get('texte').touched">Please enter text</span>
  
      </td>
      <td>
      
        <input [hidden]="true"  id="image" value="{{tuto.image}}" placeholder="{{tuto.image}}" >
        
        <input [hidden]="true" type="file" class="file-input" name="file"
        (change)="onFileSelected($event)" #fileUpload>
        
        <div class="file-upload">
          
          {{fileName || "No file"}}
          
          <button mat-mini-fab color="primary" class="upload-btn block"
          (click)="fileUpload.click()">
          <mat-icon  class="iconDownload">attach_file</mat-icon>
        </button>
        </div>
    
      </td>
        <td>
          <button (click)="update(tuto.image)" [disabled]="!tutoForm.valid" class="btn btn-primary">Update</button>
        </td>
  
  
    </tr>
    </tbody>
  </table>
  
  </form>
  

<router-outlet></router-outlet>
</section>